db/*.sqlite3*
log/*.log
tmp/**/*
doc/
doc/api
doc/app
.DS_Store
*.swp
*~
.DS_Store
*.rbc
*.sassc
*.log
.sass-cache
capybara-*.html
/.bundle
/vendor/bundle
/log/*
/.idea/*
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
vendor/ruby
/vendor/cache/*
tmp/i18n-js.cache
Thumbs.db


# Gemfile.lock
# /config/initializers/devise.rb
