%section.widget.sociable.box2.css3
	%h2
		%span
			Follow us On
	%ul.clearfix
		%li
			%a.facebook{:href=>'http://www.facebook.com/anytickets'}
		%li
			%a.twitter{:href=>'http://twitter.com/anytickets_com'}