%section.widget.box2.form.css3.clearfix#newsletter-form
  %h2
    %span
      Join Our Mailing List
  %form#mc-embedded-subscribe-form.validate{:action => "http://anytickets.us6.list-manage.com/subscribe/post?u=f8f2a66868f57768858186794&id=40cc30ceed", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
    %input{:name => "c", :type => "hidden", :value => "1QwyrJ"}
    %input.textbox#mce-EMAIL.email{:name => "EMAIL", :placeholder => "email address", :required => "", :type => "email", :value => ""}
    %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "Subscribe", :class => "button btn css3" }/
