%section.widget.box2.quality-assurance.css3
	%h2
		%span
			Quality Assurance
	=image_tag "bagde.png",class:'image',alt:'badge'
	%ul.list3
		%li
			Customer Service
		%li
			Valid & Authentic Tickets
		%li
			On-Time Delivery
		%li
			Refund for Cancellations
		%li
			Secure Transaction
	=link_to "Learn More", link
