#content.clearfix
  .container
    .row
      = @left_sidebar
      %section.span3
        %h3
          Cities:
        %ul.cities
          -@cities.each do |city|
            %li
              =link_to city.name, location_path(city)
      %section.span6
        %h3
          Venues:
        %ul.venues
          -@venues.each do |venue|
            %li
              =link_to venue.name, venue


